<p>calculator-expanded works!</p>

<div class="main-box">
    <div class="result-box">
    </div>

    <div class="numbers-box">
        <button class="number" value="1" (click)="addButton()">1</button>
        <button class="number" value="2" (click)="addButton()">2</button>
        <button class="number" value="3" (click)="addButton()">3</button>

        <button class="number" value="4" (click)="addButton()">4</button>
        <button class="number" value="5" (click)="addButton()">5</button>
        <button class="number" value="6" (click)="addButton()">6</button>

        <button class="number" value="7" (click)="addButton()">7</button>
        <button class="number" value="8" (click)="addButton()">8</button>
        <button class="number" value="9" (click)="addButton()">9</button>
        <button class="number" value="0" (click)="addButton()">0</button>

        <button class="clear" (click)="clear()">CE</button>
        <button class="equal" (click)="equal()" >=</button>
    </div>

    <div class="operation-box">
        <button class="operation" value="+" (click)="addButton()">+</button>
        <button class="operation" value="-" (click)="addButton()">-</button>
        <button class="operation" value="*" (click)="addButton()">*</button>
        <button class="operation" value="/" (click)="addButton()">/</button>
    </div>
</div>