<p>calculator-expanded works!</p>

<div class="main-box">
    <div class="result-box">
    </div>

    <div class="numbers-box">
        <button class="number" value="1" (click)="showButton()">1</button>
        <button class="number" value="2" (click)="showButton()">2</button>
        <button class="number" value="3" (click)="showButton()">3</button>

        <button class="number" value="4" (click)="showButton()">4</button>
        <button class="number" value="5" (click)="showButton()">5</button>
        <button class="number" value="6" (click)="showButton()">6</button>

        <button class="number" value="7" (click)="showButton()">7</button>
        <button class="number" value="8" (click)="showButton()">8</button>
        <button class="number" value="9" (click)="showButton()">9</button>
        <button class="number" value="0" (click)="showButton()">0</button>

        <button class="clear" (click)="showButton()">CE</button>
        <button class="equal" (click)="showButton()">=</button>
    </div>

    <div class="operation-box">
        <button class="operation" value="+" (click)="showButton()">+</button>
        <button class="operation" value="-" (click)="showButton()">-</button>
        <button class="operation" value="*" (click)="showButton()">*</button>
        <button class="operation" value="/" (click)="showButton()">/</button>
    </div>
</div>